html,body{
    padding:0%;
    margin:0;
    height: 100%;
    width: 100%;
    background-color: #ff9800;
    background: linear-gradient(to bottom,blue, rgb(64, 63, 64));
    

}

#entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: gray;
}

header .logo h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff9800;
}